@font-face {
  font-family: "iconfont"; /* Project id 5107957 */
  src: url('iconfont.woff2?t=1768173688699') format('woff2'),
       url('iconfont.woff?t=1768173688699') format('woff'),
       url('iconfont.ttf?t=1768173688699') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiyuan1:before {
  content: "\e67c";
}

.icon-shentibuwei:before {
  content: "\e6c6";
}

.icon-zhengzhuang:before {
  content: "\e749";
}

.icon-zhengzhuang1:before {
  content: "\e735";
}

.icon-zhengzhuangzicha:before {
  content: "\e6c9";
}

.icon-sousuoyisheng:before {
  content: "\e7e6";
}

.icon-yishengziliao:before {
  content: "\e7e7";
}

.icon-yuyueyisheng:before {
  content: "\e7ed";
}

.icon-pifuzhengzhuang:before {
  content: "\e614";
}

.icon-yishengmenzhen:before {
  content: "\e63e";
}

.icon-yishengguanli:before {
  content: "\e605";
}

.icon-yisheng:before {
  content: "\e6ef";
}

.icon-jiaoyiyisheng:before {
  content: "\e65c";
}

.icon-yishengtuandui:before {
  content: "\e858";
}

.icon-yishengyishengjieshao:before {
  content: "\e684";
}

.icon-quganzhengzhuang:before {
  content: "\e7c8";
}

.icon-zhengzhuangmiaoshu:before {
  content: "\e937";
}

.icon-zhengzhuangjilu:before {
  content: "\e61a";
}

.icon-yisheng1:before {
  content: "\e7ad";
}

.icon-zhengzhuang2:before {
  content: "\e640";
}

.icon-hospital:before {
  content: "\e9e8";
}

.icon-bizi:before {
  content: "\e77f";
}

.icon-jiao:before {
  content: "\e780";
}

.icon-shoubu:before {
  content: "\e781";
}

.icon-fubu:before {
  content: "\e782";
}

.icon-shou:before {
  content: "\e783";
}

.icon-yanjing:before {
  content: "\e784";
}

.icon-xigai:before {
  content: "\e785";
}

.icon-zuibu:before {
  content: "\e786";
}

.icon-yiyuan2:before {
  content: "\e78e";
}

.icon-shentibuwei1:before {
  content: "\e628";
}

.icon-zhengzhuang3:before {
  content: "\e9bd";
}

.icon-yiyuan:before {
  content: "\e65a";
}

